# Data files
/sample_stream.json
/twitter.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
config.txt

# Intellij
.idea/
/out/
*.iml


SparkTwitterClustering/src/main/resources/twitter.dat
SparkTwitterClustering/output/
SparkTwitterClustering/local-maven-repo/

# node_modules of website
/webapp/node_modules/
SparkTwitterClustering/preparedTweets_*

# log4j
SparkTwitterClustering/log4j.properties
SparkTwitterClustering/spark-mllib_2.10-1.6.1/
SparkTwitterClustering/output.txt
SparkTwitterClustering/dependency-reduced-pom.xml
